

@import '@fontsource-variable/onest';
.containerinfo{
    margin: 10px;
    margin-left: 15px;
    margin-bottom: 110px;
  

 
}
.info{
  font-family: "Onest Variable";
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
   place-items: center;
   gap: 5px;
   width: 80%;
   font-size: 15px;
   padding: 15px;
}
.myinfo{
    display: grid;
    place-items: center; 
    letter-spacing: 4px;
    line-height: 1.5;
    
  
}
.logo {
    border-radius: 15px;
    width: 350px;
    height: auto;
 
}
h1{
    margin: 1px;
    font-family: 'Onest Variable', sans-serif;
    color: #5a0af0;
    font-size: 40px;
  
}
object{
  background-image: radial-gradient(circle 100px, rgba(226, 226, 235, 0.103), #0e0e1100);
  
}
.link{
    display: flex;
    margin-top: 25px;
    justify-self: center; 
    
}
.sublink {
    
    text-decoration: none; /* Sin subrayado */
    background-color: #2e1065; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto al centro */
    border: solid #5b21b6 1px; /* Borde sólido */
    /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
   padding: 5px;
  }
  span{
    font-family: "Onest Variable";
    padding: 10px;
    display: flex;
    color: var(--text-color); /* Color del texto del enlace */
    transition: transform 0.2s linear; /* Transición suave para la transformación */
  }
  
  /* Efecto al pasar el ratón */
 span:hover {
    transform: scale(1.2); /* Efecto de escala */
  }
  a{
    text-decoration: none;
  }

.mylenguajes{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content:center ;
}
h2{
    font-size: 20px;
    font-family: "Onest Variable";
    margin: 1px;
    margin-left: 120px;
    color: rgb(172, 168, 240);
}


 
*,
*::before,
*::after {
  box-sizing: border-box;
}




.wrapper {
  margin: 0;
  width: 70%;
  max-width: 1536px;
  margin-inline: auto;
  height: 55px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  background-image: radial-gradient(circle 28px, rgba(249, 249, 252, 0.993), #0e0e1100);

  height: 55px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(100px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(100px * 8), calc(100% + 100px));
  animation-name: scrollRight;
}

.items1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.items2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.items3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.items4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.items5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.items6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.items7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.items8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}