

@import '@fontsource-variable/onest';
.containerinfo{
    margin: 10px;
    margin-left: 15px;
    margin-bottom: 110px;
    display: grid;

 
}
.info{
  font-family: "Onest Variable";
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
   justify-items: center;
   align-items: center;
   gap: 15px;
   width: 75%;
   font-size: 15px;
   padding: 15px;
}
.myinfo{
    display: grid;
    letter-spacing: 4px;
    line-height: 1.5;
    
  
}
.logo {
    border-radius: 15px;
    width: 350px;
    height: auto;
 
}
h1{
    margin: 0;
    margin-left: 50px;
    font-family: 'Onest Variable', sans-serif;
    color: #5a0af0;
    font-size: 40px;
  
}
object{
  box-shadow:  inset 0 0 100px 120px rgba(252, 252, 252, 0.123);
}
.link{
    display: flex;
    margin-top: 25px;
    justify-self: center; 
    
}
.sublink {
    
    text-decoration: none; /* Sin subrayado */
    background-color: #2e1065; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto al centro */
    border: solid #5b21b6 1px; /* Borde sólido */
    /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
   padding: 5px;
  }
  span{
    font-family: "Onest Variable";
    padding: 10px;
    display: flex;
    color: var(--text-color); /* Color del texto del enlace */
    transition: transform 0.2s linear; /* Transición suave para la transformación */
  }
  
  /* Efecto al pasar el ratón */
 span:hover {
    transform: scale(1.2); /* Efecto de escala */
  }
  a{
    text-decoration: none;
  }

.mylenguajes{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content:center ;
}
h2{
    font-size: 20px;
    font-family: "Onest Variable";
    margin: 1px;
    margin-left: 120px;
    color: rgb(172, 168, 240);
}

.carousel-container {
    margin: 5px;
    justify-self: center;
    width: 40%;
   
    overflow: hidden;
  
    
  }
  
  .carousel-track {
    display: flex; 
    gap: 10px;
    width: calc(120%);
    animation: scroll 15s linear infinite;
  }
  
  .carousel-track img {
    width: 10%;
  
  }
  
  @keyframes scroll {
    0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
  }
