@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

.containerinfo{
    margin: 10px;
    margin-left: 15px;
    margin-bottom: 110px;
    display: grid;

 
}
.info{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
   justify-items: center;
   align-items: center;
   gap: 15px;
   width: 75%;
   font-size: 15px;
   padding: 15px;
}
.myinfo{
    display: grid;
    letter-spacing: 4px;
    line-height: 1.5;
  
}
.logo {
    border-radius: 15px;
    width: 350px;
    height: auto;
 
}
h1{
    margin: 0;
    margin-left: 50px;
    font-family: "Poetsen One";
 
    color: #4424af;
    font-size: 40px;
}
.link{
    display: flex;
    margin-top: 25px;
    justify-self: center; 
    
}
.sublink {
    color: var(--text-color); /* Color del texto del enlace */
    text-decoration: none; /* Sin subrayado */
    background-color: #100a24; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto al centro */
    border: solid #4424af 1px; /* Borde sólido */
    padding: 10px; /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
    transition: transform 0.2s linear; /* Transición suave para la transformación */
  }
  
  /* Efecto al pasar el ratón */
 .sublink:hover {
    transform: scale(1.2); /* Efecto de escala */
  }
  a{
    text-decoration: none;
  }

.mylenguajes{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content:center ;
}
h2{
    font-size: 20px;
    font-family: "Poetsen One";
    margin: 1px;
    margin-left: 120px;
    color: rgb(172, 168, 240);
}

.carousel-container {
    margin: 5px;
    justify-self: center;
    width: 40%;
   
    overflow: hidden;
  
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .carousel-track {
    display: flex; 
    gap: 10px;
    width: calc(120%);
    animation: scroll 15s linear infinite;
  }
  
  .carousel-track img {
    width: 10%;
  
  }
  
  @keyframes scroll {
    0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
  }
