@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
.container-nav{
    position: fixed;   
    right: 0;
    display: flex; 
    align-items: center;
    border: solid 1px #4d1d95;
    background: #2e1065fa;
    color: #f5f3ff;
    flex-direction: column;
    padding: 25px;
    width: 8px;
    margin: 4px;
    margin-top: 120px;
    border-radius:20px;
    gap: 30px;
    z-index: 1;
    
}
@media (max-width: 900px) {
  .container-nav {
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: auto;
    width: auto;
    height: 20px; /* ajusta la altura según tu diseño */
    margin: 10px; /* ajusta el margen según tu diseño */
    margin-bottom: 10px; /* ajusta el margen según tu diseño */
    border-radius: 15px;
    gap: 35px;
    justify-self: center;
  }
}
.contenedor{
  display: grid;

}
.fi-bs-home,.fi-rr-paper-plane,.fi-rs-folder,.fi-rr-resume{
  display: flex;
  color: var(--text-color);
  padding: 10px;
  border-radius: 50%;
  background-color: #7c3aed;
  transition: transform 0.2s linear;


}

.fi-bs-home:hover{
  
  background-color: #9478f0;  
  transform: scale(1.2);
  color: #1e1738
}
.fi-rr-paper-plane:hover{
  background-color: #9478f0;  
  transform: scale(1.2);
  color: #1e1738
}
.fi-rs-folder:hover{
  background-color: #9478f0;  
  transform: scale(1.2);
  color: #1e1738
}
.fi-rr-resume:hover{
  background-color: #9478f0;  
  transform: scale(1.2);
  color: #1e1738
}
.container-nav .tooltip {
  display: flex;
  gap: 3px;
  visibility: hidden;
  background-color: #2e1065fa;
  color: #a894f0;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  left: -70px ; /* Posiciona la viñeta a la izquierda del elemento */
  top: 50%;
  transform: translateY(-50%); /* Centra la viñeta verticalmente */
  opacity: 0;
 
  
}

.container-nav .tooltip::after {
  
  content: "";
  position: absolute;
  top: 50%;
  right: -9px; /* Ajusta la flecha al borde derecho del tooltip */
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #2e1065fa;
}

.container-nav .item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Navbar.css */
.control{
  background-color: var(--background-color);
  position: sticky;  
  top: 0;
  display: flex;
  justify-content: space-between;
 z-index: 2;
}
.switch {
  
    margin: 15px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color);
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2e1065;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  